// Base css
@import "base/clear.scss";

// Dependencies
@import "dependencies/bootstrap";

// ------- Project ------- //
@import "base/typography.scss";
@import "variables";
// Sections
@import "sections/navbar.scss";
@import "sections/header.scss";
@import "sections/footer.scss";



// ------- helper classes ------- //

.center-block {
	/*display: inline-block;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


// ------- font customization ------- //
h1 {
	font-size: 52px;
	color: $heading;
}